body{
	background-color:#b8b8b8;
}
	
.domaine{
	text-align:center;
	color:black;
	font-size:40px;

}
.quiz{
	width: 500px;
	margin: auto;
	
	
}
.resultat{
	width: 500px;
	margin: auto;
	
	
}
.solution{
	width: 500px;
	margin: auto;
	
	
}